.rbc-agenda-date-cell, .rbc-agenda-time-cell {
  min-width: 220px;
}

@media screen and (max-width: 768px) {
  .rbc-agenda-date-cell, .rbc-agenda-time-cell {
    min-width: 120px;
  }
}

@media screen and (max-width: 480px) {
  .rbc-agenda-date-cell, .rbc-agenda-time-cell, .rbc-agenda-event-cell {
    min-width: 95px;
    font-size: small;
  }
  button{
    width: 60px;
    font-size: 2vw;
  }
}