.rbc-agenda-date-cell, .rbc-agenda-time-cell {
  min-width: 220px;
}

@media screen and (max-width: 768px) {
  .rbc-agenda-date-cell, .rbc-agenda-time-cell {
    width: 100px;
  }
}

@media screen and (max-width: 590px) {
  .rbc-agenda-date-cell, .rbc-agenda-time-cell {
    width: 50px;
  }
}